/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.save
.env.backup
.env.old
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/app/Http/Controllers_old
/app/Models_old
/database/migrations/old